* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins";
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: scroll;
}

nav {
    background-color: rgba(255, 249, 198, 1);
    box-shadow: 0px 8px 15px rgba(76, 76, 76, 0.2);
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
}

.gula-test {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /*    width: 100vw; denna kanske skall vara i procent i stället. Måste kollas upp hur det ser ut på desktop!! */
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

.navTags:hover {
    cursor: pointer;
}

.navTags {
    width: 35%;
    text-align: center;
    text-decoration: underline;
    color: rgba(22, 22, 22, 1);
}

.test {
    font-size: 5rem;
    font-weight: 900;
    color: rgb(255, 70, 70);
    text-align: center;
    /*  transform: rotate(-10deg); */
    /* ska transformen vara kvar eller vad tycker "vi"? */
}

.landingpage {
    background-image: url('./Assets/pizzeria.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* background-color: white; */
}

.burger {
    display: none;
}

.burger div {
    width: 2.5rem;
    height: 0.2rem;
    background-color: rgba(22, 22, 22, 1);
    margin: 0.5rem 2.5rem 0.5rem 0.5rem;
    transition: all 0.4s ease;
}

.menu-buttons {
    height: 20vh;
    position: fixed;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

button {
    font-family: "Poppins";
    margin-top: 15vh;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  background-color: rgba(255, 198, 198, 1); */
    background-color: rgba(198, 219, 255, 1);
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0px 8px 15px rgba(76, 76, 76, 0.2);
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

/* jag kanske kan köra samma typ av stil här på allting, så att det blir mindre rader kod. (när det kommer till alla meny-sectioner.) */

.meny-kategori {
    display: flex;
    justify-content: center;
}

/* Section Dagens Lunch */
.dagens_lunch-meny {
    height: 100vh;
}

/* Section Pizza */
.pizza-meny {
    height: 100vh;
}

/* Section Grill */
.grill-meny {
    height: 100vh;
}

/* Section Sallader */
.sallad-meny {
    height: 100vh;
}

/* Section Tillbehör */
.tillbehör-meny {
    height: 100vh;
}

/* Footer */
.footer {
    height: 33vh;
    background-color: rgba(255, 249, 198, 1);
    display: flex;
    justify-content: space-around;
}

.gula-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gula-information_text {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.gula-information_rubrik {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
}

.telefon {
    color: black;
}



.google_maps {
    display: flex;
    justify-content: center;
    align-items: center;
}
















@media only screen and (max-width: 1300px) {
    nav {
        background-color: rgba(255, 249, 198, 1);
    }

    .test {
        font-size: 2rem;
        width: 60vw;
    }

    .menu-buttons {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    /*    .nav-links {
        margin-left: 33%;
    } */
}

@media only screen and (max-width: 600px) {
    nav {
        background-color: rgba(255, 249, 198, 1);
        justify-content: space-between;
    }

    .gula-test {
        display: flex;
        list-style: none;
        text-decoration: none;
        font-size: 2.5rem;
        font-weight: 900;
        color: rgb(255, 70, 70);
        margin-left: 5%;
    }

    .test {
        display: none;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        top: 10vh;
        height: 90vh;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        background-color: rgba(255, 249, 198, 1);
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: 0.5s ease-in-out;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    button {
        width: 7rem;
        font-size: 1.3rem;
        /* Denna behöver ses över. Vet inte om jag kanske ska köra 10 rem om jag fixar ett horizontelt scroll. */
    }

    .menu-buttons {
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
    }


    .footer {
        height: 50vh;
        flex-direction: column;
        justify-content: space-around;
    }

    .oppet_tider {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.burgertoggle .line1 {
    transform: rotate(-45deg) translate(-4px, 6px);
}

.burgertoggle .line2 {
    opacity: 0;
}

.burgertoggle .line3 {
    transform: rotate(45deg) translate(-4px, -6px);
}