* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins";
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: scroll;
}

nav {
    background-color: rgba(255, 249, 198, 1);
    box-shadow: 0px 8px 15px rgba(76, 76, 76, 0.2);
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
}

/* .gula-pizzerian_mobile {
    display: none;
} */

.main_logo_mobile {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /*    width: 100vw; denna kanske skall vara i procent i stället. Måste kollas upp hur det ser ut på desktop!! */
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

.navTags:hover {
    cursor: pointer;
}

.navTags {
    width: 35%;
    text-align: center;
    text-decoration: underline;
    color: rgba(22, 22, 22, 1);
}

/* .gula-pizzerian {
    font-size: 5rem;
    font-weight: 900;
    color: rgb(255, 70, 70);
    text-align: center;
    cursor: pointer;
} */

.gula-pizzerian {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main_logo{
    display: flex;
}

.landingpage {
    background-image: url('./Assets/pizzeria.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.burger {
    display: none;
}

.burger div {
    width: 2.5rem;
    height: 0.2rem;
    background-color: rgba(22, 22, 22, 1);
    margin: 0.5rem 2.5rem 0.5rem 0.5rem;
    transition: all 0.4s ease;
}

.menu-buttons {
    height: 10vh;
    position: fixed;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

button {
    font-family: "Poppins";
    margin-top: 15vh;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(198, 219, 255, 1);
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0px 8px 15px rgba(76, 76, 76, 0.2);
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

/* jag kanske kan köra samma typ av stil här på allting, så att det blir mindre rader kod. (när det kommer till alla meny-sectioner.) */
/* 
.meny-kategori {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;

} */

/* Section Dagens Lunch */
.dagens_lunch-meny {
    height: 100vh;
}

.lunch-bakgrund {
    background-color: rgba(255, 249, 198, 1);
    height: 100vh;
    width: 99.9vw;
}

.lunch_container {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .lunch_rubrik {
    display: flex;
    justify-content: space-evenly;
    width: 41vw;
    align-items: center;
} */

.lunch-pris_div {
    display: flex;
    justify-content: flex-start;
    width: 38vw;
}

.lunch_rubrik-text {
    font-size: 5rem;
    font-weight: 900;
    color: rgb(255, 70, 70);
    text-align: center;
    text-decoration: underline;
}

.lunch_erbjudande {
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.lunch_erbjudande-text {
    font-size: 3rem;
    font-weight: 500;
}

.lunch_erbjudande-text_info {
    font-size: 3rem;
    font-weight: 500;
    color: rgb(255, 70, 70);
}

/* Section Pizza */
.pizza-meny {
    height: 300vh;
}

.pizza-bakgrund {
    background-color: rgba(255, 249, 198, 1);
    height: 300vh;
    width: 99.9vw;
}

.grill-bakgrund {
    background-color: rgba(255, 249, 198, 1);
    height: 300vh;
    width: 99.9vw;
}

.sallad-bakgrund {
    background-color: rgba(255, 249, 198, 1);
    height: 100vh;
    width: 99.9vw;
}

.tillbehör-bakgrund {
    background-color: rgba(255, 249, 198, 1);
    height: 100vh;
    width: 99.9vw;
}

.klass {
    display: flex;
    justify-content: center;
    text-align: center;
}

.klass_rubrik {
    width: 33vw;
    height: 3vh;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(255, 70, 70);
}

.pizza-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.klass_pizzor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    width: 33vw;
}

.pizza_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 33vw;
}

.pizza_nummer {
    width: 3vw;
    color: rgb(255, 70, 70);
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 0.2rem;
}

.pizza_namn {
    width: 17vw;
    color: black;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 500;
}

.pizza_ingrediens {
    width: 50vw;
    color: rgb(255, 70, 70);
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 500;
}

.pizza_pris {
    width: 4vw;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

.amerikanska_info {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
}

.amerikanska_pris {
    color: rgb(255, 70, 70);
    margin-right: 3rem;
}

.barn_pizza {
    margin-top: 7vh;
    color: rgb(255, 70, 70);
    font-weight: 700;
    font-size: 1.7rem;
}

.pizza_info {
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}

/* Section Grill */
.grill-meny {
    height: 100vh;
    background-color: #c6dbff;
}

.hamburgare_rubrik {
    width: 33vw;
    height: 5vh;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: rgb(255, 70, 70);
}

.vegburgare_rubrik {
    width: 33vw;
    height: 3vh;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: rgb(255, 70, 70);
}

.hamburgare_info {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.burgare-container {
    width: 33vw;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.hamburgare_vikt {
    width: 16vw;
    color: rgb(255, 70, 70);
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hamburgare_pris {
    width: 17vw;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.falafel_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 33vw;
}

.kebab_namn {
    width: 17vw;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

.kebab_pris {
    width: 4vw;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

.lasagne {
    margin-left: 4rem;
}

/* Section Sallader */
.sallad-meny {
    height: 100vh;
    background-color: #918ab2;
}

/* Section Tillbehör */
.tillbehör-meny {
    height: 100vh;
    background-color: #ffc6d0;
}

/* Footer */
.footer {
    height: 33vh;
    background-color: rgba(255, 249, 198, 1);
    display: flex;
    justify-content: space-around;
}

.gula-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gula-information_text {
    color: rgb(255, 70, 70);
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.gula-information_rubrik {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
}

.gula-information_rubrik-text {
    font-size: 1.2rem;
}

.telefon {
    color: black;
}

.google_maps {
    display: flex;
    justify-content: center;
    align-items: center;
}









@media only screen and (max-width: 1636px) {
    .gula-pizzerian {
        font-size: 4rem;
        width: 60vw;
    }
}


@media only screen and (max-width: 1300px)

/* Laptop size */
    {
    nav {
        background-color: rgba(255, 249, 198, 1);
    }

    .gula-pizzerian {
        font-size: 3rem;
        width: 60vw;
    }

    .menu-buttons {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .lunch-pris_div {
        width: 49vw;
    }

    .pizza-meny {
        height: 450vh;
    }

    .pizza-bakgrund {
        height: 450vh;
    }

    .grill-meny {
        height: 160vh;
    }

    .klass_rubrik {
        width: 40vw;
    }

    .klass_pizzor {
        width: 40vw;
    }

    .pizza_div {
        width: 40vw;
    }
}

@media only screen and (max-width: 1050px) {
    .lunch-pris_div {
        width: 60vw;
    }
}

@media only screen and (max-width: 840px) {
    .menu-buttons {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .main_logo {
        width: 32rem;
    }
}

@media only screen and (max-width: 720px) {
    .menu-buttons {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 600px)

/* normal phone size */
    {
    nav {
        background-color: rgba(255, 249, 198, 1);
        justify-content: space-between;
    }

  /*   .gula-pizzerian_mobile {
        display: flex;
        list-style: none;
        text-decoration: none;
        font-size: 2.5rem;
        font-weight: 900;
        color: rgb(255, 70, 70);
        margin-left: 5%;
    } */

    .main_logo_mobile {
        display: flex;
        width: 25rem;
    }

    .gula-pizzerian {
        display: none;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        top: 10vh;
        height: 90vh;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        background-color: rgba(255, 249, 198, 1);
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: 0.5s ease-in-out;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    button {
        width: 7rem;
        font-size: 1.3rem;
        /* Denna behöver ses över. Vet inte om jag kanske ska köra 10 rem om jag fixar ett horizontelt scroll. */
    }

    .menu-buttons {
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .lunch_container {
        height: 90vh;
    }

    .lunch_rubrik-text {
        font-size: 3rem;
    }

    .lunch-pris_div {
        width: 94vw;
    }

    .lunch-pris {
        width: 6rem;
        height: 6rem;
    }

    .lunch_erbjudande {
        height: 22vh;
    }

    .klass_rubrik {
        width: 90vw;
    }

    .pizza-meny {
        height: 500vh;
    }

    .pizza-bakgrund {
        height: 500vh;
    }

    .klass_pizzor {
        width: 90vw;
    }

    .pizza_div {
        width: 90vw;
        border-bottom: 1px solid rgb(255, 70, 70);
    }

    .pizza_nummer {
        width: 5vw;
    }

    .pizza_namn {
        width: 30vw;
    }

    .pizza_ingrediens {
        width: 62vw;
    }

    .grill-meny {
        height: 115vh;
    }

    .grill-bakgrund {
        height: 115vh;
    }

    .hamburgare_rubrik {
        width: 90vw;
        height: 6vh;
    }

    .burgare-container {
        width: 90vw;
    }

    .vegburgare_rubrik {
        width: 90vw;
    }

    .falafel_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }

    .kebab_namn {
        width: 55vw;
    }

    .kebab_pris {
        width: 10vw;
        color: black;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .sallad-meny {
        height: 80vh;
    }

    .sallad-bakgrund {
        height: 80vh;
    }

    .footer {
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
    }

    .gula-information_rubrik {
        margin: 0;
    }

    .oppet_tider {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 320px)

/* smaller mobile phone */
    {
    .lunch_rubrik-text {
        font-size: 2rem;
    }

    .lunch-pris {
        width: 5rem;
        height: 5rem;
    }

    .lunch_erbjudande-text {
        font-size: 2rem;
    }

    .lunch_erbjudande-text_info {
        font-size: 2rem;
    }

    .pizza-meny {
        height: 700vh;
    }

    .pizza-bakgrund {
        height: 700vh;
    }

    .grill-meny {
        height: 165vh;
    }

    .grill-bakgrund {
        height: 165vh;
    }

    .sallad-meny {
        height: 140vh;
    }

    .sallad-bakgrund {
        height: 140vh;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.burgertoggle .line1 {
    transform: rotate(-45deg) translate(-4px, 6px);
}

.burgertoggle .line2 {
    opacity: 0;
}

.burgertoggle .line3 {
    transform: rotate(45deg) translate(-4px, -6px);
}